
<div class="jumbotron">
  <h1>Hello, At Home!</h1>
  <p><a class="btn btn-primary btn-lg" href="#!/products" role="button">More Products</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="product in products | limitTo : 3 ">
      <div class="thumbnail">
        <img src="{{product.image}}" alt="..." style="  height: 300px;">
        <div class="caption">
          <h3>{{product.name}}</h3>
          <div star-rating rating="{{product.reviews[0].rate}}"></div>
          <!-- <p>{{product.description}}</p> -->
          <p><a href="#!/singleProduct/{{$index}}" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
